header{
    background-image: url('../images/Hero-bg.png');
}
 
 
.first-image{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }  
  h1{
     
     padding: auto;
     text-align: center;
  }
  .first-p{
    text-align: center;
  }
  .mybutton{
    text-align: center;
    height: 100px;
  }
  .btn-one{

  }
  .banner{
    display: flex;
    justify-content: space-between;
     
  }
  .banner-contant{
    max-width: 400px;
}
.text-centre{
    text-align: center;
}
.target-container{
    display: flex;
    gap: 30px;
}
/* .target{
    padding: 40px;
    margin:20px ;
} */
.skill{
    padding: 40px;
    margin: 40px;
    border-radius: 10px;
}
.skill-one{
    background-color: #fceded;
}
.skill-two{
    background-color: #e4eaf8;
}
.skill-three{
    background-color: #f8f6e8;
}